flask==2.3.2
pandas==2.2.1
numpy==1.24.3
matplotlib==3.8.0
seaborn==0.12.2
black==23.9.1
scipy==1.11.2          # For scientific computations
scikit-learn==1.3.1    # For machine learning tasks
requests==2.31.0       # For handling HTTP requests
Jinja2==3.1.2          # Template engine, used with Flask
gunicorn==20.1.0       # WSGI HTTP server for Flask deployment
sqlalchemy==2.0.21     # ORM for database interaction
psycopg2-binary==2.9.7 # PostgreSQL database adapter for Python
missingno==0.5.2       # For visualizing missing data
joblib==1.3.2          # For efficient memory usage and parallel processing
gunicorn==20.1.0
flask-cors==5.0.0
python-dotenv==1.0.1