<body>
    <div class="about-container">

        <section id="about" class="py-5">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <h2 style="color: black;">About POWERWASH</h2>
                <p style="color: black;">Powerwash is a streamlined tool for cleaning and analyzing datasets. Users can upload CSVs through an intuitive interface, where Python’s Pandas library takes care of data wrangling. With ready-to-use data, users can visualize insights using:</p>
                <ul>
                    <li style="color: black;"><strong>Box plots</strong></li>
                    <li style="color: black;"><strong>Histograms</strong></li>
                    <li style="color: black;"><strong>Bar plots</strong></li>
                    <li style="color: black;"><strong>Scatter plots</strong></li>
                </ul>
                <p style="color: black;">These visualizations are powered by Python’s Seaborn and Matplotlib libraries. PowerWash also identifies key data structure elements and offers easy exporting of findings as slideshows for convenient sharing. Our vision is to simplify data wrangling and provide foundational insights for <strong>exploratory data analysis (EDA)</strong>.</p>
                        </div>
            <div style="transform:scale(.75);" class="col-md-6">
                <img src="../assets/img/pwshicon.png" class="img-fluid rounded" alt="About POWERWASH">
            </div>

            <h2 style="color: black;">Our Team</h2>
                <p></p>
                <ul>
                    <li style="color: black;"><strong>Jacob Kurry</strong></li>
                    <li style="color: black;"><strong>Tate Middleton</strong></li>
                    <li style="color: black;"><strong>Riley Sackett</strong></li>
                    <li style="color: black;"><strong>Abiral Tuladhar</strong></li>
                    <li style="color: black;"><strong>David Velarde</strong></li>
                </ul>
            </div>
        </div>
        </section>

    </div>
</body>