<div class="about-container">
    <header class="about-header">
        <h1>About Us</h1>
    </header>

    <section class="team-section">
        <h2>Meet Our Team</h2>
        <div id="team-members">
            
        </div>
    </section>

    <section class="cta-section">
        <p>PowerWash is a streamlined tool designed to simplify the process of cleaning and analyzing datasets. By allowing users to upload a CSV through our intuitive front-end interface. The data is cleaned and prepped for further analysis.</p>
    </section>
</div>