<body>
    <header class="section text-center text-black">
        <div class="container text-center">
            <h1 class="display-3">Looking clean...</h1>
            <p class="lead">What would you like to do?</p>
        </div>
    </header>

    <!-- Container for chips checklist -->
    <div id="chipGrid" class="chips-container">
        <!-- Chips will be dynamically added here -->
    </div>
</body>
