<body>
  <div class="wrapper" style="background-color: #F6F5F5;">
      <header class="section text-center text-white" style="background: #F6F5F5;">
      <div class="container">
        <h1 class="display-3" style="color: black;">Welcome to POWERWASH</h1>
        <p class="lead" style="color: black;">Your go-to solution for precise and efficient dataset cleaning</p>
        <a href="/export" class="btn btn-primary btn-lg mt-4">Get Started</a>
      </div>
    </header>

    <!-- Services -->
    <section id="services" class="bg-light py-5">
      <div class="container">
        <h2 class="text-center">Our Services</h2>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card text-center shadow">
              <div class="card-body" style="background: #276678;">
                <i class="tim-icons icon-trash-simple display-4 text-primary"></i>
                <h5 class="card-title mt-3">Duplicate Removal</h5>
                <p class="card-text">Remove duplicate records to keep your data clean and consistent.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center shadow">
              <div class="card-body" style="background: #276678">
                <i class="tim-icons icon-chart-bar-32 display-4 text-success"></i>
                <h5 class="card-title mt-3">Graphing Data</h5>
                <p class="card-text">Visualize your data with insightful graphs to better understand trends and patterns.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-center shadow">
              <div class="card-body" style="background: #276678;">
                <i class="tim-icons icon-sound-wave display-4 text-warning"></i>
                <h5 class="card-title mt-3">Noise Reduction</h5>
                <p class="card-text">Filter out irrelevant data points for a clear and reliable dataset.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>