<body style="overflow: hidden;">
    <header class="section text-center text-white" style="background: url('../assets/img/cleaning-bg.jpg') center center / cover;" style="transform:translate(0px, 320px);">
      <div class="container">
        <h1 class="display-3" style="transform:translate(0px,25px); color: black;">Personal Profile</h1>
      </div>
    </header>

    <div class="container rounded bg-white mt-5 mb-5" style="transform:scale(.8) translate(0px,-150px);">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="175px" src="../assets/img/silhouette.jpg"><span class="font-weight-bold" style="transform: translate(0px,10px);">Name</span><span class="text-black-50" style="transform: translate(0px,10px);">Email</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Profile</span></div><br>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">FirstName</label><input type="text" class="form-control" placeholder="First Name" value=""></div>
                        <div class="col-md-6"><label class="labels">LastName</label><input type="text" class="form-control" value="" placeholder="Last Name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="Phone Number" value=""></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="Email Address" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="Country" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience</label><input type="text" class="form-control" placeholder="Experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="Additional Details" value=""></div>
                </div>
            </div>
        </div>
    </div>
</body>
