<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>

    {{>nav}}

     <div class="container" style="width:30%; transform: translate(-500px, 120px); background: #000; height: 500px; border-radius: 25px;">
      <form action="/register" method="POST">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4" style="transform: translate(0px, 40px);">
          <label class="form-label" for="form2Example1">Email address</label>
          <input type="email" id="email" class="form-control" />
          {{email}}
        </div>

        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4" style="transform: translate(0px, 40px);">
            <label class="form-label" for="form2Example2">Username</label>
          <input type="username" id="username_input" class="form-control" />
          {{username}}

        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4" style="transform: translate(0px, 40px);">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" id="password_input" class="form-control" />
        </div>

        <!-- Confirm Password input -->
        <div data-mdb-input-init class="form-outline mb-4" style="transform: translate(0px, 40px);">
          <label class="form-label" for="form2Example1">Confirm Password</label>
          <input type="password" id="confirm_password_input" class="form-control" />
          {{password}}
        </div>
      
        <!-- Submit button -->
        <button id="submit_button" type="submit" class="btn btn-primary btn-block mb-4" style="transform: translate(0px, 40px);">Register</button>

        <div class="col" style="transform: translate(175px, 30px);">
          <!-- Simple link -->
          <a href="/login">Log In</a>
        </div>
      </form>
    </div>

    <div class="container" style = "transform: translate(245px,-380px); background-color: blueviolet; width: 65%; height: 500px; border-radius: 25px;" overflow: hidden;>
      <!-- Image Cluster -->
      <div style="background-color: #000; border-radius: 25px; height: 470px; width:50%; transform: translate(0px, 15px);">
        <img src="../assets/img/bitcoin.png" style="transform:translate(-125px, -200px) scale(.2);"/>
        <img src="../assets/img/etherum.png" style="transform:translate(-125px, -650px) scale(.2);"/>
        <img src="../assets/img/etherum.png" style="transform:translate(120px, -1535px) scale(.2);"/>
        <img src="../assets/img/bitcoin.png" style="transform:translate(120px, -1985px) scale(.2);"/>
      </div>

      <!-- Video -->
      <div>
        <img src="../assets/videos//powerwashing-monkey.gif" style="transform: scale(.65) translate(625px, -825px); border-radius: 25px;">
      </div>
    </div>

    {{>footer}}
</body>

{{>js}}

</html>