<body style="overflow-y:hidden;">
    <div class="container" style="width:30%; transform: translate(-500px, 80px); background: #000; height: 500px; border-radius: 25px;">
      <form action="/register" method="POST">
        <div data-mdb-input-init class="form-outline mb-4" style="transform: translate(0px, 40px);">

          {{!-- Email --}}
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" class="form-control" required>
          {{email}}

          <br>

          {{!-- Username --}}
          <label for="username">Username:</label>
          <input type="username" name="username" id="username" class="form-control" required>
          {{username}}

          <br>

          {{!-- Password --}}
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" class="form-control" required>
          {{password}}

          <br>
          
          {{!-- Submit --}}
          <button id="submit_button" type="submit" class="btn btn-primary btn-block mb-4">Register</button>

          <div class="col d-flex justify-content-center">
              <a href="/login">Already have an account?</a>
          </div> 

          {{!-- Github Link --}}
          <div class="col d-flex justify-content-center">
             <a href="https://github.com/UWorldJK/powerwash" target="_blank">
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </a>
          </div>

        </div>    
      </form>
    </div>

    <div class="container" style = "transform: translate(245px,-420px); background-color: #276678; width: 65%; height: 500px; border-radius: 25px;" overflow: hidden;>
      <!-- Image Cluster -->
      <div style="background-color: #000; border-radius: 25px; height: 470px; width:50%; transform: translate(0px, 15px);">
        <img src="../assets/img/stat1.jpg" style="transform:translate(-60px, -25px) scale(.5); border-radius: 25px"/>
        <img src="../assets/img/stat2.png" style="transform:translate(60px, -170px) scale(.5); border-radius: 25px"/>
      </div>

      <!-- Video -->
      <div>
            <img src="../assets/videos//powerwashing-monkey.gif" style="transform:scale(.65) translate(625px, -825px); border-radius: 25px;">
      </div>
    </div>
</body>