<header class="section text-center text-white">
    <div class="container">
      <h1 class="display-3">Data Visualization</h1>
    </div>
</header>

<section id="graphs" class="py-5">
    <div class="container">
      <h2 class="text-center">Graphs</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body text-center">
              <h5 class="card-title">Chart Name</h5>
              <img src="https://via.placeholder.com/400x300" class="img-fluid rounded">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body text-center">
              <h5 class="card-title">Chart Name</h5>
              <img src="https://via.placeholder.com/400x300" class="img-fluid rounded">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body text-center">
              <h5 class="card-title">Chart Name</h5>
              <img src="https://via.placeholder.com/400x300" class="img-fluid rounded">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body text-center">
              <h5 class="card-title">Chart Name</h5>
              <img src="https://via.placeholder.com/400x300" class="img-fluid rounded">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
